# Usage - python-pandas-datareader-NHSDigital

In [1]:
#!pip3 install --upgrade --force-reinstall --no-deps python-pandas-datareader-NHSDigital/ 

import pd_datareader_nhs.nhs_digital_ods as ods

## Find Datasets From NHS Digital Organisational Data Service

Running any command from the `python-pandas-datareader-NHSDigital` will check whether a "directory" of datasets published by the NHS Organisational Data Service (ODS) is locally available. This information is scraped from the NHS Digital website, cached locally, and may also be persisted in a local SQLiite3 database. For this reason, the first  command run may take some time as the NHS Digital data is downloaded if a persistent database is not available.

In [2]:
#Find all published datasets (filtered through a whitelist defined in the package)
ss=ods.search(string='')
ss

,Label,Date,Period,Dataset,URL,Type
0,GP Practices,28 February 2020,Quarterly,epraccur,https://files.digital.nhs.uk/assets/ods/curren...,gp-and-gp-practice-related-data
1,GP Practitioners,28 February 2020,Quarterly,egpcur,https://files.digital.nhs.uk/assets/ods/curren...,gp-and-gp-practice-related-data
2,GPs by GP Practices,28 February 2020,Quarterly,epracmem,https://files.digital.nhs.uk/assets/ods/curren...,gp-and-gp-practice-related-data
3,GP Practices linked to CCG/LHG,28 February 2020,Quarterly,epcmem,https://files.digital.nhs.uk/assets/ods/curren...,gp-and-gp-practice-related-data
4,Archived GP Practices,28 February 2020,Quarterly,epracarc,https://files.digital.nhs.uk/assets/ods/curren...,gp-and-gp-practice-related-data
...,...,...,...,...,...,...
59,Archived Successor Organisations,28 February 2020,,succarc,https://files.digital.nhs.uk/assets/ods/curren...,miscellaneous
60,English Hospital Consultants,28 February 2020,Monthly,econcur,https://files.digital.nhs.uk/assets/ods/curren...,miscellaneous
61,English Dental Consultants,28 February 2020,Monthly,edconcur,https://files.digital.nhs.uk/assets/ods/curren...,miscellaneous
62,Welsh Hospital Consultants,28 February 2020,Quarterly,wconcur,https://files.digital.nhs.uk/assets/ods/curren...,miscellaneous
63,Default codes,28 February 2020,Quarterly,default,https://files.digital.nhs.uk/assets/ods/curren...,miscellaneous

In [3]:
#View whitelist of packages that have dataframe mappings defined
ods.dataset_codes

['epraccur',
 'etrust',
 'eccg',
 'eccgsite',
 'epcmem',
 'epracmem',
 'egdpprac',
 'egpcur',
 'egparc',
 'epracarc',
 'ehospice',
 'epharmacyhq',
 'edispensary',
 'enurse',
 'epcdp',
 'eabeydispgp',
 'ecarehomehq',
 'ecarehomesite',
 'ecarehomesucc',
 'ephp',
 'ephpsite',
 'enonnhs',
 'eprison',
 'eschools',
 'ejustice',
 'ecare']

In [4]:
#The mappings are provided as JSON data that define things such as column headings and code mappings
ods.jdata['egpcur']

{'cols': ['Organisation Code',
  'Name',
  'National Grouping',
  'High Level Health Geography',
  'Address Line 1',
  'Address Line 2',
  'Address Line 3',
  'Address Line 4',
  'Address Line 5',
  'Postcode',
  'Open Date',
  'Close Date',
  'Status Code',
  'Organisation Sub-Type Code',
  'Parent Organisation Code',
  'Join Parent Date',
  'Left Parent Date',
  'Contact Telephone Number',
  'Null',
  'Null',
  'Null',
  'Amended Record Indicator',
  'Null',
  'Current Care Organisation',
  'Null',
  'Null',
  'Null'],
 'codes': {'Status Code': {'A': 'Active',
   'B': 'Retired',
   'C': 'Closed',
   'P': 'Proposed'},
  'Organisation Sub-Type Code': {'P': 'Principal/Senior GP at practice',
   'O': 'Other GP in practice (not Principal/Senior GP)'}},
 'index': 'auto',
 'dates': 'auto'}

In [5]:
#Search by ODS dataset type - searches are partial match
ods.search(string='Prison', field='Label')

,Label,Date,Period,Dataset,URL,Type
48,Prisons in England and Wales,28 February 2020,Quarterly,eprison,https://files.digital.nhs.uk/assets/ods/curren...,non-nhs-organisations

In [9]:
#Case sensitive search of datasets by field
len(ods.search('gp-data', field='Type')), len(ods.search(string='gp', field='Label', case=True))

(0, 0)

In [10]:
#Search datasets by field
ods.search(string='health-authorities', field='Type')

,Label,Date,Period,Dataset,URL,Type
32,NHS England Commissioning and Government Offic...,28 February 2020,Quarterly,eauth,https://files.digital.nhs.uk/assets/ods/curren...,health-authorities-and-support-agencies
33,Special Health Authorities,28 February 2020,Quarterly,espha,https://files.digital.nhs.uk/assets/ods/curren...,health-authorities-and-support-agencies
34,Commissioning Support Units,28 February 2020,Quarterly,ecsu,https://files.digital.nhs.uk/assets/ods/curren...,health-authorities-and-support-agencies
35,Commissioning Support Units sites,28 February 2020,Quarterly,ecsusite,https://files.digital.nhs.uk/assets/ods/curren...,health-authorities-and-support-agencies
36,Executive Agency Programme,28 February 2020,Quarterly,eother,https://files.digital.nhs.uk/assets/ods/curren...,health-authorities-and-support-agencies
37,NHS Support Agencies and Shared Services,28 February 2020,Quarterly,ensa,https://files.digital.nhs.uk/assets/ods/curren...,health-authorities-and-support-agencies

## Download Datasets

*Available datasets* are ones that have been downloaded and cached locally.

In [11]:
ods.availableDatasets()

Empty DataFrame
Columns: [Dataset, Date]
Index: []

In [12]:
epraccur_df = ods.download('epraccur')
epraccur_df.head()

cc                                Label              Date     Period   Dataset  \
0                       GP Practices  28 February 2020  Quarterly  epraccur
1                   GP Practitioners  28 February 2020  Quarterly    egpcur
2                GPs by GP Practices  28 February 2020  Quarterly  epracmem
3     GP Practices linked to CCG/LHG  28 February 2020  Quarterly    epcmem
4              Archived GP Practices  28 February 2020  Quarterly  epracarc
..                               ...               ...        ...       ...
59  Archived Successor Organisations  28 February 2020              succarc
60      English Hospital Consultants  28 February 2020    Monthly   econcur
61        English Dental Consultants  28 February 2020    Monthly  edconcur
62        Welsh Hospital Consultants  28 February 2020  Quarterly   wconcur
63                     Default codes  28 February 2020  Quarterly   default

                                                  URL  \
0   https://files.digital.nhs.uk/assets/ods/curren...
1   https://files.digital.nhs.uk/assets/ods/curren...
2   https://files.digital.nhs.uk/assets/ods/curren...
3   https://files.digital.nhs.uk/assets/ods/curren...
4   https://files.digital.nhs.uk/assets/ods/curren...
..                                                ...
59  https://files.digital.nhs.uk/assets/ods/curren...
60  https://files.digital.nhs.uk/assets/ods/curren...
61  https://files.digital.nhs.uk/assets/ods/curren...
62  https://files.digital.nhs.uk/assets/ods/curren...
63  https://files.digital.nhs.uk/assets/ods/curren...

                               Type
0   gp-and-gp-practice-related-data
1   gp-and-gp-practice-related-data
2   gp-and-gp-practice-related-data
3   gp-and-gp-practice-related-data
4   gp-and-gp-practice-related-data
..                              ...
59                    miscellaneous
60                    miscellaneous
61                    miscellaneous
62                    miscellaneous
63                    miscellaneous

[64 rows x 6 columns]

/usr/local/lib/python3.7/site-packages/pandas/core/generic.py:2712: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  method=method,

,Organisation Code,Name,National Grouping,High Level Health Geography,Address Line 1,Address Line 2,Address Line 3,Address Line 4,Address Line 5,Postcode,...,Commissioner,Join Provider/Purchaser Date,Left Provider/Purchaser Date,Contact Telephone Number,Amended Record Indicator,Provider/Purchaser,Prescribing Setting,Status Code Value,Organisation Sub-Type Code Value,Prescribing Setting Value
0,A81001,THE DENSHAM SURGERY,Y63,Q74,THE HEALTH CENTRE,LAWSON STREET,STOCKTON-ON-TEES,CLEVELAND,NaN,TS18 1HU,...,00K,2013-04-01,NaT,01642 672351,0,00K,4,Active,Allocated to a Provider/Purchaser Organisation,GP Practice
1,A81002,QUEENS PARK MEDICAL CENTRE,Y63,Q74,QUEENS PARK MEDICAL CTR,FARRER STREET,STOCKTON ON TEES,CLEVELAND,NaN,TS18 2AW,...,00K,2013-04-01,NaT,01642 679681,0,00K,4,Active,Allocated to a Provider/Purchaser Organisation,GP Practice
2,A81003,VICTORIA MEDICAL PRACTICE,Y54,Q74,THE HEALTH CENTRE,VICTORIA ROAD,HARTLEPOOL,CLEVELAND,NaN,TS26 8DB,...,00K,2013-04-01,2017-10-31,01429 272945,0,00K,4,Closed,Allocated to a Provider/Purchaser Organisation,GP Practice
3,A81004,BLUEBELL MEDICAL CENTRE,Y63,Q74,TRIMDON AVENUE,ACKLAM,MIDDLESBROUGH,NaN,NaN,TS5 8SB,...,00M,2013-04-01,NaT,01642 827697,0,00M,4,Active,Allocated to a Provider/Purchaser Organisation,GP Practice
4,A81005,SPRINGWOOD SURGERY,Y63,Q74,SPRINGWOOD SURGERY,RECTORY LANE,GUISBOROUGH,NaN,NaN,TS14 7DJ,...,00M,2013-04-01,NaT,01287 619611,0,00M,4,Active,Allocated to a Provider/Purchaser Organisation,GP Practice

In [13]:
#We can check to see what datasets have been downloaded and persisted in SQLite storage
ods.availableDatasets()

    Dataset              Date
0  epraccur  28 February 2020

In [12]:
#Or check to see what files are avialble in the local, in-memory cach
ods.availableDatasets(typ='cached')

Empty DataFrame
Columns: [Label, Date, Period, Dataset, URL, Type]
Index: []

In [12]:
#We can download all the datasets in an ODS group
dd=ods.download(datatype='other-nhs')
ods.availableDatasets(typ='cached')

,Dataset,Date,Label,Period,Type,URL
0,epraccur,26 May 2017,GP Practices,Quarterly,gp-data,https://digital.nhs.uk/media/372/epraccur/zip/...
18,eccg,26 May 2017,Clinical Commissioning Groups,Quarterly,other-nhs,https://digital.nhs.uk/media/354/eccg/zip/eccg
19,eccgsite,26 May 2017,Clinical Commissioning Group sites,Quarterly,other-nhs,https://digital.nhs.uk/media/353/eccgsite/zip/...
22,etrust,26 May 2017,NHS Trusts and sites,Quarterly,other-nhs,https://digital.nhs.uk/media/350/etrust/zip/et...
25,ecare,26 May 2017,Care Trusts and sites,Quarterly,other-nhs,https://digital.nhs.uk/media/347/ecare/zip/ecare

In [13]:
#We can also download a list of names datsets
dd=ods.download(['eprison','eschools'])
ods.availableDatasets(typ='cached')

,Dataset,Date,Label,Period,Type,URL
0,epraccur,26 May 2017,GP Practices,Quarterly,gp-data,https://digital.nhs.uk/media/372/epraccur/zip/...
18,eccg,26 May 2017,Clinical Commissioning Groups,Quarterly,other-nhs,https://digital.nhs.uk/media/354/eccg/zip/eccg
19,eccgsite,26 May 2017,Clinical Commissioning Group sites,Quarterly,other-nhs,https://digital.nhs.uk/media/353/eccgsite/zip/...
22,etrust,26 May 2017,NHS Trusts and sites,Quarterly,other-nhs,https://digital.nhs.uk/media/350/etrust/zip/et...
25,ecare,26 May 2017,Care Trusts and sites,Quarterly,other-nhs,https://digital.nhs.uk/media/347/ecare/zip/ecare
41,eschools,26 May 2017,Schools in England,Quarterly,non-nhs,https://digital.nhs.uk/media/406/eschools/zip/...
45,eprison,26 May 2017,Prisons in England and Wales,Quarterly,non-nhs,https://digital.nhs.uk/media/401/eprison/zip/e...

In [14]:
#If we try to download files for which there is no mapping, we get a warning
dd=ods.download(['eother','eauth'])
ods.availableDatasets(typ='cached')

/usr/local/lib/python3.6/site-packages/pd_datareader_nhs/nhs_digital_ods.py:80: UserWarning: Non-standard dataset codes: eauth, eother
  'codes: %s' % tmp, UserWarning)

,Dataset,Date,Label,Period,Type,URL
0,epraccur,26 May 2017,GP Practices,Quarterly,gp-data,https://digital.nhs.uk/media/372/epraccur/zip/...
18,eccg,26 May 2017,Clinical Commissioning Groups,Quarterly,other-nhs,https://digital.nhs.uk/media/354/eccg/zip/eccg
19,eccgsite,26 May 2017,Clinical Commissioning Group sites,Quarterly,other-nhs,https://digital.nhs.uk/media/353/eccgsite/zip/...
22,etrust,26 May 2017,NHS Trusts and sites,Quarterly,other-nhs,https://digital.nhs.uk/media/350/etrust/zip/et...
25,ecare,26 May 2017,Care Trusts and sites,Quarterly,other-nhs,https://digital.nhs.uk/media/347/ecare/zip/ecare
41,eschools,26 May 2017,Schools in England,Quarterly,non-nhs,https://digital.nhs.uk/media/406/eschools/zip/...
45,eprison,26 May 2017,Prisons in England and Wales,Quarterly,non-nhs,https://digital.nhs.uk/media/401/eprison/zip/e...

In [15]:
#Display a downloaded dataset - we will use cached data if available
ods.download('eprison').head()

,Organisation Code,Name,Address Line 1,Address Line 2,Address Line 3,Address Line 4,Address Line 5,Postcode,Open Date,Close Date,Contact Telephone Number,Amended Record Indicator
0,YDE01,HMP NORTHUMBERLAND,ACKLINGTON,NaN,NaN,MORPETH,NORTHUMBERLAND,NE65 9XG,2003-04-01,NaT,NaN,0
1,YDE02,HMP ISLE OF WIGHT,CLISSOLD ROAD,NaN,NaN,NEWPORT,ISLE OF WIGHT,PO30 5RS,2003-04-01,NaT,NaN,0
2,YDE03,HMP ALTCOURSE,HIGHER LANE,FAZAKERLEY,NaN,LIVERPOOL,MERSEYSIDE,L9 7LH,2003-04-01,NaT,NaN,0
3,YDE05,HMP BEDFORD,ST. LOYES STREET,NaN,NaN,BEDFORD,BEDFORDSHIRE,MK40 1HG,2003-04-01,NaT,NaN,0
4,YDE06,HMP BELMARSH,1 BELMARSH ROAD,WESTERN WAY,THAMESMEAD,LONDON,GREATER LONDON,SE28 0EB,2003-04-01,NaT,NaN,0

In [16]:
#If we download multiple datsets in one go, we get a dict of dataframes
dd=ods.download(['eprison','eschools'])
dd['eschools'].head()

,Organisation Code,Name,National Grouping,High Level Health Geography,Address Line 1,Address Line 2,Address Line 3,Address Line 4,Address Line 5,Postcode,Open Date,Close Date,Local Authority,Contact Telephone Number,Amended Record Indicator,Current Care Organisation,Type of Establishment,Type of Establishment Value
0,EE100000,SIR JOHN CASS'S FOUNDATION PRIMARY SCHOOL,Y56,Q71,ST JAMES'S PASSAGE,DUKE'S PLACE,NaN,LONDON,NaN,EC3A 5DE,1900-01-01,NaT,714,2.072831e+09,0,07T,2,VOLUNTARY AIDED SCHOOL
1,EE100001,CITY OF LONDON SCHOOL FOR GIRLS,Y56,Q71,ST GILES' TERRACE,BARBICAN,NaN,LONDON,NaN,EC2Y 8BB,1920-01-01,NaT,714,2.078476e+09,0,07T,11,OTHER INDEPENDENT SCHOOL
2,EE100002,ST PAUL'S CATHEDRAL SCHOOL,Y56,Q71,2 NEW CHANGE,NaN,NaN,LONDON,NaN,EC4M 9AD,1939-01-01,NaT,714,2.072485e+09,0,07T,11,OTHER INDEPENDENT SCHOOL
3,EE100003,CITY OF LONDON SCHOOL,Y56,Q71,QUEEN VICTORIA STREET,NaN,NaN,LONDON,NaN,EC4V 3AL,1919-01-01,NaT,714,2.074890e+09,0,07T,11,OTHER INDEPENDENT SCHOOL
4,EE100005,THOMAS CORAM CENTRE,Y56,Q71,49 MECKLENBURGH SQUARE,NaN,NaN,LONDON,NaN,WC1N 2NY,1900-01-01,NaT,702,2.075200e+09,0,07R,15,LA NURSERY SCHOOL

## Persistent Database

We can initialise the package to use a persistent, named database.

If there is any cached data, add that to the database. If there is no cached data, and no netwrok connection, and a database is specified, we use that.

If there is a network connection, if the date field in the list of datatables is different to the persisted item in the database, the database copy will be uploaded with a new downloaded version if the datastet is "downloaded".

In [17]:
!rm nhs_ods_test1.sqlite
ods.init(sqlite3db='nhs_ods_test1.sqlite')

rm: nhs_ods_test1.sqlite: No such file or directory
Setting up a new dataset_date table...

/usr/local/lib/python3.6/site-packages/pandas/core/generic.py:1362: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  chunksize=chunksize, dtype=dtype)

In [18]:
ods.availableDatasets()

    Dataset         Date
0  epraccur  26 May 2017
1    etrust  26 May 2017
2      eccg  26 May 2017
3  eccgsite  26 May 2017
4   eprison  26 May 2017
5  eschools  26 May 2017
6     ecare  26 May 2017

In [20]:
#We can also update the database to grab all the whitelisted datasets
ods.updatedb()
ods.availableDatasets()

/usr/local/lib/python3.6/site-packages/pandas/core/generic.py:1362: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  chunksize=chunksize, dtype=dtype)

          Dataset         Date
0        epraccur  26 May 2017
1          etrust  26 May 2017
2            eccg  26 May 2017
3        eccgsite  26 May 2017
4          epcmem  26 May 2017
5        epracmem  26 May 2017
6        egdpprac  25 Nov 2016
7          egpcur  26 May 2017
8          egparc  26 May 2017
9        epracarc  26 May 2017
10       ehospice  26 May 2017
11    epharmacyhq  26 May 2017
12    edispensary  26 May 2017
13         enurse  26 May 2017
14          epcdp  26 May 2017
15    eabeydispgp  26 May 2017
16    ecarehomehq  26 May 2017
17  ecarehomesite  26 May 2017
18  ecarehomesucc  26 May 2017
19           ephp  26 May 2017
20       ephpsite  26 May 2017
21        enonnhs  26 May 2017
22        eprison  26 May 2017
23       eschools  26 May 2017
24       ejustice  26 May 2017
25          ecare  26 May 2017